<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Facultad de Ciencias Agrarias</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<header class="bg-success text-white py-3">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#"> <img src="images/logofca.png"
						alt="Logo de la Facultad de Ciencias Agrarias" 
						height="80" class="d-inline-block align-text-top me-2">
					</a>
					<div>
						<h1 class="display-5">Facultad de Ciencias Agrarias</h1>
						<p class="small">Más de 50 años cultivando conocimiento e
							investigación</p>
					</div>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="#">Inicio</a></li>
							<li class="nav-item"><a class="nav-link" href="#acerca-de">Acerca
									de</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Oferta
									Académica </a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#carreras-pregrado">Carreras
											de Pregrado</a></li>
									<li><a class="dropdown-item" href="#carreras-grado">Carreras
											de Grado</a></li>
								</ul></li>
							<li class="nav-item"><a class="nav-link" href="#noticias">Noticias</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://fca.unju.edu.ar/institucional/contacto/">Contacto</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="container col-10">
		<div class="row">
			<main class="col-md-9 py-4">
				<img src="images/agrarias.jpg" alt="Descripción de la imagen"
					class="img-fluid">
				<section class="mb-4" id="acerca-de">
					<div class="container mt-5">
						<h2 class="display-5">Facultad de Ciencias Agrarias de la
							Universidad Nacional de Jujuy (UNJu)</h2>
						<p class="lead">Un Legado de Formación e Investigación al
							Servicio del Desarrollo</p>

						<p>A principios de los años 70, el crecimiento de Jujuy
							impulsó la creación de la Universidad Provincial de Jujuy,
							incluyendo la Facultad de Ciencias Agrarias (FCA) para satisfacer
							la demanda de profesionales en el sector agrario, crucial para la
							provincia.</p>
						<p>La FCA se fundó con la misión de formar profesionales e
							investigadores capaces de generar conocimiento científico
							aplicado a las diversas regiones de Jujuy. Su primera carrera,
							Ingeniería Agronómica, comenzó en 1972 con 169 estudiantes.</p>
						<p>Tras un proceso de nacionalización, la FCA se trasladó a su
							ubicación actual en la Calle Alberdi Nº 47 en 1978. Ese mismo
							año, José Martín Rivera se convirtió en el primer egresado,
							seguido por Sara Leonor Quintana dos años después.</p>
						<p>Desde entonces, la FCA ha crecido significativamente,
							ofreciendo actualmente cinco carreras de pregrado, cinco de
							grado, cuatro de posgrado, y contando con sedes en el interior de
							la provincia, más de 700 graduados y campos experimentales para
							investigación.</p>
						<p>La misión de la FCA es formar profesionales con sólidos
							valores científicos, técnicos, éticos y humanos, ofreciendo
							planes de estudio actualizados.</p>
					</div>
				</section>

				<section class="mb-4">
					<div class="container">
						<h2 class="display-5">Oferta Académica</h2>
						<div class="row">
							<div class="col-md-6">
								<h3 id="carreras-pregrado" class="display-6">Pregrado</h3>
								<ul>
									<li>Técnico/a Universitario en Producción de Animales de
										Granja (3 años, Monterrico)</li>
									<li>Técnico/a Universitario en Mecanización Agrícola (3
										años, Perico)</li>
									<li>Técnico/a Universitario en Transformación de la
										Producción Agropecuaria (2.5 años, Tilcara)</li>
									<li>Técnico/a Universitario Forestal (3 años, San Pedro de
										Jujuy)</li>
								</ul>
							</div>
							<div class="col-md-6">
								<h3 id="carreras-grado" class="display-6">Grado</h3>
								<ul>
									<li>Ingeniero/a Agrónomo (5 años, San Salvador de
										Jujuy/San Pedro de Jujuy)</li>
									<li>Licenciado/a en Bromatología (4.5/3 años, San Salvador
										de Jujuy/Tilcara)</li>
									<li>Licenciado/a en Gestión Ambiental (5 años,
										Humahuaca/Monterrico)</li>
									<li>Licenciado/a en Ciencias Biológicas (5 años, San
										Salvador de Jujuy)</li>
									<li>Licenciado/a en Desarrollo Rural (5 años, Humahuaca)</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="container mt-5" id="noticias">
						<h2 class="mb-4 display-5">Noticias Destacadas</h2>
						<div class="row">
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/52anios.JPG" class="card-img-top"
										alt="Noticia 1">
									<div class="card-body">
										<h5 class="card-title">¡Felices 52 años!</h5>
										<p class="card-text">24 Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/felices-52-anos/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/flyerdiplo.JPG" class="card-img-top"
										alt="Noticia 2">
									<div class="card-body">
										<h5 class="card-title">Extienden fechas de inscripción
											para la diplomatura en cultivos andinos, uso y consumo</h5>
										<p class="card-text">24 Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/extienden-fechas-de-inscripcion-para-la-diplomatura-en-cultivos-andinos-uso-y-consumo/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/joralmacigos.JPG" class="card-img-top"
										alt="Noticia 3">
									<div class="card-body">
										<h5 class="card-title">Brindaron jornadas de almácigos a
											estudiantes de Primaria</h5>
										<p class="card-text">23 de Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/brindaron-jornadas-de-almacigos-a-estudiantes-de-primaria/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/commimportante.PNG" class="card-img-top"
										alt="Noticia 3">
									<div class="card-body">
										<h5 class="card-title">Actividades en Agrarias para el 23
											de mayo</h5>
										<p class="card-text">22 de Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/actividades-en-agrarias-para-el-23-de-mayo/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/becabelgrano.JPG" class="card-img-top"
										alt="Noticia 3">
									<div class="card-body">
										<h5 class="card-title">Becas Belgrano: Acreditan la 1ra
											cuota para renovantes y habilitan resultados para nuevos
											postulantes</h5>
										<p class="card-text">21 de Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/becas-belgrano-acreditan-la-1ra-cuota-para-renovantes-y-habilitan-resultados-para-nuevos-postulantes/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="card h-100">
									<img src="images/consejosocial.JPG" class="card-img-top"
										alt="Noticia 3">
									<div class="card-body">
										<h5 class="card-title">Consejo Social de la UNJu informó
											sobre la situación actual de la institución</h5>
										<p class="card-text">17 de Mayo 2024</p>
										<a
											href="https://www.fca.unju.edu.ar/extension/noticias/consejo-social-de-la-unju-informo-sobre-la-situacion-actual-de-la-institucion/"
											class="btn btn-success">Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<aside class="col-md-3 py-4">
				<h5 class="display-6">Enlaces Útiles</h5>
				<div class="list-group">
					<a href="http://www.biblioteca.fca.unju.edu.ar/"
						class="list-group-item list-group-item-action"
						aria-label="Biblioteca">Biblioteca</a> <a
						href="https://www.fca.unju.edu.ar/institucional/calendario/"
						class="list-group-item list-group-item-action"
						aria-label="Calendario Académico">Calendario Académico</a> <a
						href="https://virtual.unju.edu.ar/"
						class="list-group-item list-group-item-action"
						aria-label="UNJu Virtual">UNJu Virtual</a> <a
						href="https://alumnos.unju.edu.ar/unju/"
						class="list-group-item list-group-item-action"
						aria-label="SIU Guaraní">SIU Guaraní</a> <a
						href="https://www.fca.unju.edu.ar/tramites/"
						class="list-group-item list-group-item-action"
						aria-label="Trámites">Trámites</a> <a
						href="https://www.fca.unju.edu.ar/docentes/concursos"
						class="list-group-item list-group-item-action"
						aria-label="Concursos Docentes">Concursos Docentes</a>
				</div>
			</aside>


		</div>
	</div>

	<footer class="container-fluid p-5 bg-success text-white">
		<div class="row">
			<div class="col-md-4 col-lg-3 mb-4">
				<h5>Información</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#"
						class="nav-link p-0 text-white">Inicio</a></li>
					<li class="nav-item mb-2"><a href="#acerca-de"
						class="nav-link p-0 text-white">Sobre Nosotros</a></li>
					<li class="nav-item mb-2"><a href="#carreras-pregrado"
						class="nav-link p-0 text-white">Carreras</a></li>
					<li class="nav-item mb-2"><a href="#noticias"
						class="nav-link p-0 text-white">Noticias</a></li>
					<li class="nav-item mb-2"><a
						href="https://fca.unju.edu.ar/institucional/contacto/"
						class="nav-link p-0 text-white">Contacto</a></li>
				</ul>
			</div>

			<div class="col-md-4 col-lg-3 mb-4">
				<h5>Información de Contacto</h5>
				<address>
					Alberdi N° 47, S. S. de Jujuy, Jujuy, Argentina<br> <a
						href="tel:+543884221557" class="text-white">(0388) 4221557</a><br>
					<a href="mailto:mesadeentrada@fca.unju.edu.ar" class="text-white">mesadeentrada@fca.unju.edu.ar</a>
				</address>

				<h5>Seguinos</h5>
				<ul class="list-unstyled d-flex">
					<li class="me-3"><a
						href="https://www.facebook.com/FCAUNJu.Arg" class="text-white"
						aria-label="Facebook"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
					<li class="me-3"><a href="https://x.com/fca_unju/"
						class="text-white" aria-label="Twitter"><i
							class="fa-brands fa-twitter fa-lg"></i></a></li>
					<li class="me-3"><a href="https://www.instagram.com/fca_unju/"
						class="text-white" aria-label="Instagram"><i
							class="fa-brands fa-instagram fa-lg"></i></a></li>
					<li><a
						href="https://www.youtube.com/c/FacultaddeCienciasAgrariasUNJujuy"
						class="text-white" aria-label="YouTube"><i
							class="fa-brands fa-youtube fa-lg"></i></a></li>
				</ul>
			</div>

			<div class="col-md-4 col-lg-6 mb-4">
				<a class="navbar-brand" href="#"> <img src="images/logofca.png"
					alt="Logo de la Facultad de Ciencias Agrarias" 
					height="80" class="d-inline-block align-text-top me-2">
				</a>
				<div>
					<h2 class="display-5">Facultad de Ciencias Agrarias</h2>
					<p class="small">Más de 50 años cultivando conocimiento e
						investigación</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 py-4 my-4 border-top text-center">
				<p class="mb-0 text-center">&copy; 2024 Facultad de Ciencias
					Agrarias. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>






	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>
</html>
